/* Scene Properties */
.shadow-background {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-padding: 5 5 5 5;
}
.dark {
    -fx-background-color: #2D2D30;  /* avoid mouse events in the middle*/
    -fx-border-color: #39b29a;
    -fx-border-width: 1px;
    -fx-border-insets: 0;
    -fx-effect: dropshadow(gaussian, #39B29A, 4, 0.2, 0.0, 0.0);
}


/* TABS */
.dark-tab {
    -fx-background-color: #2D2D30;
}
.dark-tab *.tab-header-background {
    -fx-background-color: #2D2D30;
}
.dark-tab .tab-pane {
    -fx-tab-min-height: 20px;
    -fx-tab-min-width:  95px;
    -fx-background-color: transparent;
}
.dark-tab .tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 5 2 0 1; /* overriden as 5 2 0 0 */
}
.dark-tab .tab-pane:top > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0, 0 0 0 0, 0;
}
.dark-tab .tab {
    -fx-background-color: #2D2D30;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.dark-tab .tab:selected {
    -fx-background-color: #39B29A;
    -fx-border-width: 0;
}
.dark-tab .tab:selected .focus-indicator {
    -fx-border-width: 0;
}
.dark-tab .tab:hover {
    -fx-background-color: #44d7ba;
}
.dark-tab .tab-label {
    -fx-text-alignment: left;
    -fx-text-fill: #FFFFFF;
}
.dark-tab .tab-content-area {
    -fx-border-width: 3 1 1 1;
    -fx-border-color: #39B29A #3F3F46 #3F3F46 #3F3F46;
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0;
}


/* SplitPane */
.dark-splitPane .split-pane {
    -fx-background-color: #28282B;
}
.dark-splitPane .split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #2D2D30;
    -fx-border-width: 0 1 2 1;
    -fx-border-color: #3F3F46 #3F3F46 #2D2D30 #3F3F46;
    -fx-border-insets: 0 0 -3 0;
}


/* Toolbar */
.global-toolbar .tool-bar:horizontal {
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-padding: -5 8 0 8;
}
.global-toolbar .tool-bar .button {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-padding: 2px;
    -fx-background-repeat: no-repeat;
    /*-fx-background-size: cover;*/
}


/* Control buttons */
.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../res/minimize.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../res/minimize-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../res/maximize.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../res/maximize-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../res/restore.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-color: null;
    -fx-background-image:url("../res/restore-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../res/close.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("../res/close-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-resize{
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../res/resizeSE.png");
    -fx-background-repeat:no-repeat;
}

/* Status bar */
.status-bar {
    -fx-background-color: #39b29a;
}
.status-bar .label {
    -fx-text-fill: #FFFFFF;
}


/* Title bar */
.dark-titlebar {  }
.dark-titlebar .label {
    -fx-text-fill: #999999;
    -fx-text-overrun: ellipsis;
    -fx-font-size: 12px;
    -fx-font-family: "맑은고딕";
}

/* Menu bar */
.dark-menubar {
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-padding: -8 -3 2 2;
}

.dark-menubar .label {
    -fx-text-fill: white;
}

.dark-menubar .menu {
    -fx-background-color: transparent;
    /*-fx-border-width: 1px;*/
}

.dark-menubar .menu:hover {
    -fx-background-color: #3e3e40;
}

.dark-menubar .menu:pressed {
    -fx-background-color: #1b1b1c;
    /*-fx-border-width: 1 1 0 1;*/
    /*-fx-border-color: #333337;*/
}

.dark-menubar .menu:selected {
    -fx-background-color: #1b1b1c;
}

.dark-menubar .menu:focused {
    -fx-background-color: #1b1b1c;
}

.dark-menubar .menu-item {
    -fx-background-color: #1b1b1c;
}

.dark-menubar .menu-item:hover {
    -fx-background-color: #333334;
}

.dark-menubar .context-menu {
    -fx-background-color: #1b1b1c;
    /*-fx-border-width: 0 1 1 1;*/
    /*-fx-border-color: #333337;*/
    -fx-min-width: 150px;
    -fx-padding: 2px;
}


/* Editor (TextArea) */
.editor {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    /*-fx-font-smoothing-type: gray;*/
}

.editor-toolbar .text-area {
    -fx-text-fill: white;
    /*-fx-font-family: 'Gulim', 'Dotum';*/
    -fx-padding: -2px;
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-display-caret:true;
    /*-fx-border-color: yellow;*/
    /*-fx-border-width: 1px;*/
}

.editor-toolbar .text-area .scroll-pane {
    -fx-background-color: transparent;
}
.editor-toolbar .text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.editor-toolbar .text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.editor-toolbar .list-view {
    -fx-pref-rows: inherit;
}

.editor-toolbar .list-cell {
    -fx-background-insets: 0;
    -fx-label-padding: 2px 0 0 8px;
    -fx-padding: 0 0 -1 0;
    -fx-min-height: 1.3em;
    -fx-cell-size: 1.28em;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.editor-toolbar .list-cell:odd {
    /*-fx-background-color: #EEEEEE;*/
}


/* Editor (Toolbar) */
.editor-toolbar .tool-bar:horizontal {
    -fx-border-style: null;
    -fx-background-color: #3F3F46;
}
.editor-toolbar .tool-bar .button {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-padding: 2px;
    -fx-background-repeat: no-repeat;
}

.editor-path-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.btnEdit {
    -fx-background-color: transparent;
    -fx-min-width: 24px;
    -fx-background-image:url("../res/btnEdit.png");
    -fx-border-width: 0;
}
.btnEdit:disabled {
    -fx-background-image:url("btnEditDisable.png");
}
.btnEdit:hover {
    -fx-background-image:url("../res/btnEdit-hover.png");
}
.btnEdit:selected{
    -fx-background-image:url("../res/btnEdit-hover.png");
}

.btnFileOpen {
    -fx-background-image:url("../res/btnFileOpen.png");
}
.btnFileOpen:hover{
    -fx-background-image:url("../res/btnFileOpen-hover.png");
}
.btnFileOpen:disabled {
    -fx-background-image:url("../res/btnFileOpenDisable.png");
}

.btnFileSave {
    -fx-background-image:url("../res/btnFileSave.png");
}
.btnFileSave:hover{
    -fx-background-image:url("../res/btnFileSave-hover.png");
}
.btnFileSave:disabled {
    -fx-background-image:url("../res/btnFileSaveDisable.png");
}

.btnMergeLeft {
    -fx-background-image:url("../res/btnMergeLeft.png");
}
.btnMergeLeft:hover{
    -fx-background-image:url("../res/btnMergeLeft-hover.png");
}
.btnMergeLeft:disabled {
    -fx-background-image:url("../res/btnMergeLeftDisable.png");
}

.btnMergeRight {
    -fx-background-image:url("../res/btnMergeRight.png");
}
.btnMergeRight:hover{
    -fx-background-image:url("../res/btnMergeRight-hover.png");
}
.btnMergeRight:disabled {
    -fx-background-image:url("../res/btnMergeRightDisable.png");
}

.btnCompare {
    -fx-background-image:url("../res/btnCompare.png");
}
.btnCompare:hover{
    -fx-background-image:url("../res/btnCompare-hover.png");
}
.btnCompare:disabled {
    -fx-background-image:url("../res/btnCompareDisable.png");
}

.btnScrollSync {
    -fx-background-color: transparent;
    -fx-min-width: 24px;
    -fx-background-image:url("../res/btnScrollSync.png");
    -fx-border-width: 0;
}
.btnScrollSync:hover {
    -fx-background-image:url("../res/btnScrollSync-hover.png");
}
.btnScrollSync:selected{
    -fx-background-image:url("../res/btnScrollSync-hover.png");
}

